NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_publishable_key_here
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_browser_key_here
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_ID=your_google_oauth_web_client_id_here
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET=your_google_oauth_web_client_secret_here
